#header-image {
background-size: cover;
background-position: center center;
background-image: url("../img/anacapa-rock-pile-1080p.jpg");
height: 100vh;
width: 100vw;
color: white;
display: flex;
flex-direction: column;
justify-content: center;
}

.text-shadow-black {
  text-shadow: #000 0 0 20px;
}

.header-text-container {
  text-align: center;
}

.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
.card{
  border: none;
}